@import "colors";

* {
    margin: 0px;
    padding: 0px;
    font: 1em verdana;
   
}
body {
   background-image: url(https://img.freepik.com/premium-vector/abstract-white-grey-geometric-hexagon-background_453038-23.jpg?w=2000)
}
.container {
    display:flex;
    flex-direction: column;
    .carousel{
        background-image: url(https://www.melhoresdestinos.com.br/wp-content/uploads/2021/10/orlando-eua-disney-capa9.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 0;
        position: relative;
        left: 2.4%;
        width: 94%;
        padding: 10px;
        height: 800px;
        background-color: rgb(74, 68, 68);
        // .carousel-img{
        //     width:100%;
        //     height: 100%;
        //     object-fit: cover;
        //     object-position: 50% 70%;
        //     opacity: 0.5;
        // }
        .btn-left{
            position: absolute;
            top: 42%;
            left: 2%;
        }
        .btn-right{
            position: absolute;
            top: 42%;
            right: 2%;
        }
        .fa-angles-right,.fa-angles-left{
            font-size: 3em;
            color: white;
        }
    }
}

header, footer {
    display:flex;
    align-content: center;
    justify-content:center;
    color: white;
    nav{
        padding:7px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 10px;
        top: 10px;
        width: 95%;
        height: 60px;
        background-color: $secondary;
        .navbar-logo{
            margin-left: 10px ;
            display: flex;
            align-items: center;
        }
        ul{
            display: inline-flex;
            list-style-type: none;
            margin-left: 7%;
            li{
                padding: 10px;
            }
            li:nth-child(1){
                font-weight: bold;
            }
            
        }
        .search-box {
            display: flex;
            margin: 10px;
            width: 250px;
            height: 40px;
            .search-icon{
                width: 48px;
                height: 41px;
                background-color:$third;  
                border-radius: 10px 0px 0px 10px;
                i{
                    margin-left: 4px ;
                    padding: 12px;
                }
                i:hover{
                    transform: scale(1.2);
                    transition-property: transform;
                    transition-duration: .4s;
                    cursor: pointer;
                }
            }
            input{
                border: 3px solid $third;
                outline: none;
                width: 200px;
                height: 35px;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
}
